In [80]:
#main.py

import pandas as pd

tab = pd.read_csv('data/nas-pupil-marks.csv')
influence = pd.read_csv('data/nas-pupil-marks.csv')
tab.head()

,STUID,State,District,Gender,Age,Category,Same language,Siblings,Handicap,Father edu,...,Express science views,Watch TV,Read magazine,Read a book,Play games,Help in household,Maths %,Reading %,Science %,Social %
0,11011001001,AP,1,1,3,3,1,5,2,1,...,3,3,4,3,4,4,20.37,NaN,27.78,NaN
1,11011001002,AP,1,2,3,4,2,5,2,2,...,3,4,4,3,4,4,12.96,NaN,38.18,NaN
2,11011001003,AP,1,2,3,4,2,5,2,1,...,3,4,3,3,4,4,27.78,70.00,NaN,NaN
3,11011001004,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,NaN,56.67,NaN,36.00
4,11011001005,AP,1,2,3,3,2,5,2,1,...,3,2,3,3,4,4,NaN,NaN,14.55,8.33

In [45]:
col = list(tab.head(0).columns)
print col

tab.drop(col[4:-4],axis=1,inplace=True)

['STUID', 'State', 'District', 'Gender', 'Age', 'Category', 'Same language', 'Siblings', 'Handicap', 'Father edu', 'Mother edu', 'Father occupation', 'Mother occupation', 'Below poverty', 'Use calculator', 'Use computer', 'Use Internet', 'Use dictionary', 'Read other books', '# Books', 'Distance', 'Computer use', 'Library use', 'Like school', 'Subjects', 'Give Lang HW', 'Give Math HW', 'Give Scie HW', 'Give SoSc HW', 'Correct Lang HW', 'Correct Math HW', 'Correct Scie HW', 'Correct SocS HW', 'Help in Study', 'Private tuition', 'English is difficult', 'Read English', 'Dictionary to learn', 'Answer English WB', 'Answer English aloud', 'Maths is difficult', 'Solve Maths', 'Solve Maths in groups', 'Draw geometry', 'Explain answers', 'SocSci is difficult', 'Historical excursions', 'Participate in SocSci', 'Small groups in SocSci', 'Express SocSci views', 'Science is difficult', 'Observe experiments', 'Conduct experiments', 'Solve science problems', 'Express science views', 'Watch TV', 'Read magazine', 'Read a book', 'Play games', 'Help in household', 'Maths %', 'Reading %', 'Science %', 'Social %']

In [46]:

tab.drop(["STUID","District"],axis=1,inplace=True)

In [47]:
display(tab)

       State  Gender  Maths %  Reading %  Science %  Social %
0         AP       1    20.37        NaN      27.78       NaN
1         AP       2    12.96        NaN      38.18       NaN
2         AP       2    27.78      70.00        NaN       NaN
3         AP       2      NaN      56.67        NaN     36.00
4         AP       2      NaN        NaN      14.55      8.33
5         AP       2      NaN      23.33        NaN     30.00
6         AP       2    40.74      70.00        NaN       NaN
7         AP       2      NaN      26.67        NaN     22.92
8         AP       2    24.07        NaN      25.45       NaN
9         AP       2    18.52      26.67        NaN       NaN
10        AP       2    37.04      16.67        NaN       NaN
11        AP       2    20.37        NaN      20.00       NaN
12        AP       2      NaN        NaN      29.63     35.42
13        AP       2    27.78      66.67        NaN       NaN
14        AP       2    18.52        NaN        NaN       NaN
15        AP       2      NaN        NaN      42.59     32.00
16        AP       2    16.67        NaN        NaN       NaN
17        AP       2      NaN        NaN      21.82       NaN
18        AP       2      NaN      20.00        NaN     16.00
19        AP       2      NaN        NaN      18.52     16.67
20        AP       2    29.63        NaN      18.18       NaN
21        AP       2      NaN      43.33        NaN       NaN
22        AP       1    38.89      60.00        NaN       NaN
23        AP       1    27.78        NaN      33.33       NaN
24        AP       1      NaN      43.33        NaN     42.00
25        AP       1      NaN        NaN      43.64     39.58
26        AP       1    29.63      73.33        NaN       NaN
27        AP       2    29.63        NaN        NaN       NaN
28        AP       1    24.07        NaN      40.74       NaN
29        AP       1      NaN      13.33        NaN     14.58
...      ...     ...      ...        ...        ...       ...
185318    DD       2      NaN        NaN        NaN       NaN
185319    DD       2    30.51      44.83      32.73     17.02
185320    DD       2    27.12      27.59      32.73     29.79
185321    DD       2      NaN        NaN      50.00     30.61
185322    DD       2    33.90      93.10      52.73     23.40
185323    DD       2    23.73      48.28      36.36     36.17
185324    DD       2    36.67      66.67      37.50     34.69
185325    DD       2    25.42      82.76      49.09     29.79
185326    DD       2    26.67      63.33      32.14     26.53
185327    DD       2    27.12      34.48      38.18     29.79
185328    DD       2    30.00      53.33      33.93     24.49
185329    DD       2    28.81      79.31      34.55     25.53
185330    DD       1    20.00      36.67      35.71     24.49
185331    DD       1    38.98      79.31      45.45     34.04
185332    DD       1    28.81      82.76      60.00     42.55
185333    DD       1      NaN        NaN      29.09     21.28
185334    DD       2    40.00      63.33      35.71     42.86
185335    DD       2    25.42      51.72      40.00     23.40
185336    DD       2    23.33      46.67      33.93     30.61
185337    DD       2    27.12      24.14      32.73     44.68
185338    DD       2    33.90      66.67      41.07     38.78
185339    DD       2      NaN      72.41      36.36     42.55
185340    DD       2    36.67      66.67      41.07     42.86
185341    DD       2    42.37      72.41      45.45     36.17
185342    DD       2    45.00      66.67      32.14     24.49
185343    DD       2    22.03      65.52      38.18     19.15
185344    DD       2    31.67      40.00      41.07     24.49
185345    DD       2    40.68      41.38      38.18     27.66
185346    DD       2    18.33      70.00      33.93     32.65
185347    DD       2    23.73      55.17      41.82     31.91

[185348 rows x 6 columns]

In [48]:

sorted_tabs = tab.sort_values(['Gender','Maths %','Reading %','Science %','Social %'],ascending=False)
display(sorted_tabs)

       State  Gender  Maths %  Reading %  Science %  Social %
103790    MN       2   100.00      90.00        NaN       NaN
104065    MN       2   100.00      20.00        NaN       NaN
155259    UP       2    98.33      53.33        NaN       NaN
104411    MN       2    98.31      20.00        NaN       NaN
109474    MZ       2    96.67      86.67        NaN       NaN
155378    UP       2    96.67      83.33        NaN       NaN
104068    MN       2    96.67      76.67        NaN       NaN
148777    TR       2    96.67      70.00        NaN       NaN
104448    MN       2    96.67      56.67        NaN       NaN
63519     JK       2    96.67      54.17        NaN       NaN
109494    MZ       2    96.67      50.00        NaN       NaN
155255    UP       2    96.67      50.00        NaN       NaN
155263    UP       2    96.67      46.67        NaN       NaN
155393    UP       2    96.67      33.33        NaN       NaN
65024     JK       2    96.67      23.33        NaN       NaN
155397    UP       2    96.67      23.33        NaN       NaN
149039    TR       2    96.67        NaN      85.45       NaN
65023     JK       2    96.67        NaN        NaN       NaN
148790    TR       2    96.61      83.33        NaN       NaN
151452    UP       2    96.61      83.33        NaN       NaN
164897    WB       2    96.61      73.33        NaN       NaN
103795    MN       2    96.61      70.00        NaN       NaN
151456    UP       2    96.61      40.00        NaN       NaN
155384    UP       2    96.61      26.67        NaN       NaN
65011     JK       2    96.61      23.33        NaN       NaN
154646    UP       2    96.61      23.33        NaN       NaN
147276    TR       2    96.61        NaN        NaN     68.75
120954    PB       2    96.49        NaN      92.86       NaN
120957    PB       2    96.49        NaN      76.79       NaN
72080     KA       2    96.36      63.33        NaN       NaN
...      ...     ...      ...        ...        ...       ...
68665     JH       0      NaN        NaN        NaN       NaN
69644     JH       0      NaN        NaN        NaN       NaN
69670     JH       0      NaN        NaN        NaN       NaN
70957     JH       0      NaN        NaN        NaN       NaN
94908     MH       0      NaN        NaN        NaN       NaN
98421     MH       0      NaN        NaN        NaN       NaN
103171    MN       0      NaN        NaN        NaN       NaN
140996    TN       0      NaN        NaN        NaN       NaN
154100    UP       0      NaN        NaN        NaN       NaN
154104    UP       0      NaN        NaN        NaN       NaN
183135    DN       0      NaN        NaN        NaN       NaN
183136    DN       0      NaN        NaN        NaN       NaN
183142    DN       0      NaN        NaN        NaN       NaN
183143    DN       0      NaN        NaN        NaN       NaN
183144    DN       0      NaN        NaN        NaN       NaN
183145    DN       0      NaN        NaN        NaN       NaN
183146    DN       0      NaN        NaN        NaN       NaN
183147    DN       0      NaN        NaN        NaN       NaN
183148    DN       0      NaN        NaN        NaN       NaN
183149    DN       0      NaN        NaN        NaN       NaN
183150    DN       0      NaN        NaN        NaN       NaN
183151    DN       0      NaN        NaN        NaN       NaN
183152    DN       0      NaN        NaN        NaN       NaN
183153    DN       0      NaN        NaN        NaN       NaN
183154    DN       0      NaN        NaN        NaN       NaN
183157    DN       0      NaN        NaN        NaN       NaN
183158    DN       0      NaN        NaN        NaN       NaN
183161    DN       0      NaN        NaN        NaN       NaN
183170    DN       0      NaN        NaN        NaN       NaN
183181    DN       0      NaN        NaN        NaN       NaN

[185348 rows x 6 columns]

In [49]:
sorted_tabs.shape

(185348, 6)

In [50]:
booleans = []
for gender in sorted_tabs.Gender:
    if gender>0:
        booleans.append(True)
    else:
        booleans.append(False)

In [51]:
boolean_simple = sorted_tabs.Gender>0

In [52]:
boolean_simple.head()

103790    True
104065    True
155259    True
104411    True
109474    True
Name: Gender, dtype: bool

In [53]:
sorted_tabs[boolean_simple]

       State  Gender  Maths %  Reading %  Science %  Social %
103790    MN       2   100.00      90.00        NaN       NaN
104065    MN       2   100.00      20.00        NaN       NaN
155259    UP       2    98.33      53.33        NaN       NaN
104411    MN       2    98.31      20.00        NaN       NaN
109474    MZ       2    96.67      86.67        NaN       NaN
155378    UP       2    96.67      83.33        NaN       NaN
104068    MN       2    96.67      76.67        NaN       NaN
148777    TR       2    96.67      70.00        NaN       NaN
104448    MN       2    96.67      56.67        NaN       NaN
63519     JK       2    96.67      54.17        NaN       NaN
109494    MZ       2    96.67      50.00        NaN       NaN
155255    UP       2    96.67      50.00        NaN       NaN
155263    UP       2    96.67      46.67        NaN       NaN
155393    UP       2    96.67      33.33        NaN       NaN
65024     JK       2    96.67      23.33        NaN       NaN
155397    UP       2    96.67      23.33        NaN       NaN
149039    TR       2    96.67        NaN      85.45       NaN
65023     JK       2    96.67        NaN        NaN       NaN
148790    TR       2    96.61      83.33        NaN       NaN
151452    UP       2    96.61      83.33        NaN       NaN
164897    WB       2    96.61      73.33        NaN       NaN
103795    MN       2    96.61      70.00        NaN       NaN
151456    UP       2    96.61      40.00        NaN       NaN
155384    UP       2    96.61      26.67        NaN       NaN
65011     JK       2    96.61      23.33        NaN       NaN
154646    UP       2    96.61      23.33        NaN       NaN
147276    TR       2    96.61        NaN        NaN     68.75
120954    PB       2    96.49        NaN      92.86       NaN
120957    PB       2    96.49        NaN      76.79       NaN
72080     KA       2    96.36      63.33        NaN       NaN
...      ...     ...      ...        ...        ...       ...
183127    DN       1      NaN        NaN        NaN       NaN
183128    DN       1      NaN        NaN        NaN       NaN
183129    DN       1      NaN        NaN        NaN       NaN
183130    DN       1      NaN        NaN        NaN       NaN
183131    DN       1      NaN        NaN        NaN       NaN
183132    DN       1      NaN        NaN        NaN       NaN
183133    DN       1      NaN        NaN        NaN       NaN
183134    DN       1      NaN        NaN        NaN       NaN
183137    DN       1      NaN        NaN        NaN       NaN
183138    DN       1      NaN        NaN        NaN       NaN
183139    DN       1      NaN        NaN        NaN       NaN
183140    DN       1      NaN        NaN        NaN       NaN
183141    DN       1      NaN        NaN        NaN       NaN
183171    DN       1      NaN        NaN        NaN       NaN
183456    DN       1      NaN        NaN        NaN       NaN
183603    DN       1      NaN        NaN        NaN       NaN
183616    DN       1      NaN        NaN        NaN       NaN
183619    DN       1      NaN        NaN        NaN       NaN
183621    DN       1      NaN        NaN        NaN       NaN
183764    DN       1      NaN        NaN        NaN       NaN
183996    DN       1      NaN        NaN        NaN       NaN
184004    DN       1      NaN        NaN        NaN       NaN
184137    DN       1      NaN        NaN        NaN       NaN
184138    DN       1      NaN        NaN        NaN       NaN
184177    DN       1      NaN        NaN        NaN       NaN
184657    DN       1      NaN        NaN        NaN       NaN
184717    DN       1      NaN        NaN        NaN       NaN
185126    DD       1      NaN        NaN        NaN       NaN
185158    DD       1      NaN        NaN        NaN       NaN
185195    DD       1      NaN        NaN        NaN       NaN

[185113 rows x 6 columns]

In [54]:
gender_filter = sorted_tabs[sorted_tabs.Gender>0]

In [55]:
test = gender_filter.dropna(thresh=4)
cleaned_data=test.sort_values(['Gender','State','Maths %','Reading %','Science %','Social %'])

cleaned_data.interpolate(inplace=True)

In [56]:
cleaned_data.sort_values(['Gender','State','Maths %','Reading %','Science %','Social %'],inplace=True)

In [57]:
cleaned_data
cleaned_data['Total']=0

In [58]:
cleaned_data.Total = (cleaned_data["Maths %"] + cleaned_data["Reading %"] + cleaned_data["Science %"] + cleaned_data["Social %"])/4
cleaned_data

       State  Gender    Maths %  Reading %  Science %  Social %      Total
170622    AN       1   0.000000      0.000     27.270     62.00  22.317500
171771    AN       1   1.670000      3.335     44.640     30.00  19.911250
170610    AN       1   3.330000      6.670     47.270     40.00  24.317500
169987    AN       1   3.390000     36.670     30.910     18.00  22.242500
170612    AN       1   5.000000     10.000     52.730     26.00  23.432500
170611    AN       1   5.080000      3.330     17.860     60.00  21.567500
170613    AN       1   5.080000     13.330     57.140     22.00  24.387500
169847    AN       1   6.670000     13.330     33.930     34.00  21.982500
169652    AN       1   6.780000      6.670     10.710     10.00   8.540000
169805    AN       1   8.330000     16.670     23.210     24.00  18.052500
171626    AN       1   8.330000     20.000     17.860     10.00  14.047500
170208    AN       1   8.470000      6.670      7.140     28.00  12.570000
171117    AN       1   8.470000     26.670     19.640     16.00  17.695000
170596    AN       1  10.000000     30.000     27.095     24.00  22.773750
170212    AN       1  10.170000     23.330     34.550     32.00  25.012500
170441    AN       1  10.170000     63.330     29.090     36.00  34.647500
170937    AN       1  11.670000     23.330     26.790     18.00  19.947500
170683    AN       1  11.670000     26.670     30.360     22.00  22.675000
171466    AN       1  11.860000      6.670     18.180     26.00  15.677500
171818    AN       1  11.860000     10.000      7.270      4.00   8.282500
169709    AN       1  11.860000     20.000     49.090     28.00  27.237500
171048    AN       1  11.860000     23.330     30.360     22.00  21.887500
171120    AN       1  11.860000     50.000     23.210     42.00  31.767500
170911    AN       1  12.348571     63.330     25.000     14.00  28.669643
171777    AN       1  13.330000      0.000     33.930     36.00  20.815000
170112    AN       1  13.330000     16.670     21.820     42.00  23.455000
170804    AN       1  13.330000     23.330     14.290      6.00  14.237500
170980    AN       1  13.330000     23.330     23.640     18.00  19.575000
170144    AN       1  13.330000     26.670     19.640     20.00  19.910000
170190    AN       1  13.330000     26.670     32.730     34.00  26.682500
...      ...     ...        ...        ...        ...       ...        ...
164216    WB       2  96.610000     93.330     75.000     54.00  79.735000
167288    WB       2  96.610000     93.330     75.000     58.00  80.735000
168691    WB       2  96.610000     93.330     75.000     60.00  81.235000
168969    WB       2  96.610000     93.330     75.000     66.00  82.735000
164870    WB       2  96.610000     93.330     75.000     76.00  85.235000
167183    WB       2  96.610000     93.330     75.000     78.00  85.735000
168989    WB       2  96.610000     93.330     75.000     80.00  86.235000
168752    WB       2  96.610000     93.330     75.000     82.00  86.735000
168993    WB       2  96.610000     93.330     75.000     86.00  87.735000
164923    WB       2  96.610000     93.330     76.360     64.58  82.720000
162961    WB       2  96.610000     93.330     76.360     66.00  83.075000
165715    WB       2  96.610000     93.330     78.180     64.58  83.175000
166776    WB       2  96.610000     93.330     78.180     66.67  83.697500
168773    WB       2  96.610000     93.330     78.180     68.75  84.217500
168998    WB       2  96.610000     93.330     78.180     85.42  88.385000
165713    WB       2  96.610000     93.330     80.000     64.58  83.630000
164867    WB       2  96.610000     93.330     81.820     58.33  82.522500
168924    WB       2  96.610000     93.330     81.820     58.33  82.522500
167184    WB       2  96.610000     93.330     81.820     62.50  83.565000
167170    WB       2  96.610000     93.330     81.820     70.83  85.647500
165379    WB       2  96.610000     93.330     81.820     75.00  86.690000
164874    WB       2  96.610000     93.330     85.450     72.92  87.077500
168972    WB       2  96.610000     93.330     85.450     77.08  88.117500
165366    WB       2  96.610000     93.330     85.710     82.00  89.412500
164878    WB       2  96.610000     93.330     87.270     66.67  85.970000
165396    WB       2  96.610000     93.330     89.290     48.00  81.807500
165393    WB       2  96.610000     93.330     90.910     45.83  81.670000
166832    WB       2  96.610000     93.330     90.910     72.92  88.442500
165383    WB       2  96.610000     93.330     90.910     75.00  88.962500
164871    WB       2  96.610000     93.330     90.910     77.08  89.482500

[167360 rows x 7 columns]

In [59]:
boolean_male = []
boolean_female = []
boolean_male = cleaned_data.Gender<2
boolean_female = cleaned_data.Gender==2

In [60]:
male_data = cleaned_data[boolean_male]
female_data=cleaned_data[boolean_female]

In [61]:
State_total_male = male_data.groupby(male_data.State).Total.mean()

In [62]:

State_total_male.round(1).to_csv('Males.csv')

In [63]:
State_total_female = female_data.groupby(female_data.State).Total.mean()

In [64]:
State_total_female.round(1).to_csv('female.csv')

In [65]:
State_ms = cleaned_data.drop(['Gender','Reading %','Social %','Total'],axis=1)
State_m = State_ms.groupby(State_ms.State)["Maths %"].mean()
State_s = State_ms.groupby(State_ms.State)["Science %"].mean()

In [66]:
State_m.round(2).to_csv('Mathematics.csv')
State_s.round(2).to_csv('Science.csv')
State_ms.round(2).to_csv('Mathscience.csv')

In [67]:
State_m

State
AN    31.364476
AP    36.219460
AR    36.379246
BR    43.630217
CG    38.623293
CH    31.486184
DD    39.211883
DL    37.110625
DN    40.057332
GA    37.552061
GJ    36.248220
HP    33.951247
HR    40.562844
JH    42.478691
JK    42.156138
KA    39.695977
KL    34.870094
MG    34.120241
MH    39.617972
MN    44.405489
MP    44.832404
MZ    41.636117
NG    36.773839
OR    40.163082
PB    42.019571
PY    35.620870
RJ    41.000386
SK    36.439232
TN    37.553853
TR    44.263480
UK    36.195329
UP    48.107252
WB    55.587937
Name: Maths %, dtype: float64

In [68]:
import plotly.plotly as py
from plotly.graph_objs import *
py.sign_in('revannth', '0U9AEQ9wp9ZpwfBzbAEp0U9AEQ9wp9ZpwfBzbAEp')
trace1 = {
  "x": ["AN", "AP", "AR", "BR", "CG", "CH", "DD", "DL", "DN", "GA", "GJ", "HP", "HR", "JH", "JK", "KA", "KL", "MG", "MH", "MN", "MP", "MZ", "NG", "OR", "PB", "PY", "RJ", "SK", "TN", "TR", "UK", "UP", "WB"], 
  "y": ["39.6563219895", "32.5579683535", "35.7135180199", "35.8038346553", "34.6753542169", "35.6321366712", "48.5316631799", "33.2623909705", "45.3470596394", "41.9308862498", "37.0032520208", "32.6384144588", "36.3011361988", "39.4681681491", "37.4908081254", "32.788672863", "40.2811154044", "31.7483780992", "35.4283587595", "41.8752659418", "40.3751338754", "38.0013136655", "33.3299062328", "37.9442396505", "37.4218439933", "30.4351278518", "35.0525462234", "40.195", "31.8356602633", "44.5616651959", "33.7502389532", "41.6249525923", "39.2768890788"], 
  "mode": "lines", 
  "name": "Science Marks", 
  "type": "scatter", 
  "uid": "309e09", 
  "xsrc": "revannth:11:e0b8a7", 
  "ysrc": "revannth:11:c67c02"
}
trace2 = {
  "x": ["AN", "AP", "AR", "BR", "CG", "CH", "DD", "DL", "DN", "GA", "GJ", "HP", "HR", "JH", "JK", "KA", "KL", "MG", "MH", "MN", "MP", "MZ", "NG", "OR", "PB", "PY", "RJ", "SK", "TN", "TR", "UK", "UP", "WB"], 
  "y": ["31.3644764398", "36.2194596208", "36.3792460646", "43.6302165955", "38.6232931727", "31.4861840325", "39.2118828452", "37.110625", "40.0573324087", "37.5520609145", "36.2482202656", "33.9512466626", "40.5628436707", "42.4786912325", "42.1561382204", "39.6959766875", "34.8700940237", "34.1202405549", "39.6179723646", "44.4054892742", "44.832403808", "41.6361174506", "36.773838941", "40.1630819638", "42.0195710579", "35.6208696984", "41.0003855232", "36.4392321981", "37.5538527673", "44.2634804095", "36.1953290347", "48.1072523704", "55.5879369271"], 
  "mode": "lines", 
  "name": "Mathematics Marks", 
  "type": "scatter", 
  "uid": "101d3b", 
  "xsrc": "revannth:11:e0b8a7", 
  "ysrc": "revannth:12:fd9134"
}

PlotlyError: Sign in failed.

In [ ]:
data = Data([trace1, trace2])
layout = {
  "geo": {
    "projection": {
      "rotation": {"lon": 0}, 
      "scale": 0.924022572447, 
      "type": "equirectangular"
    }, 
    "scope": "asia"
  }, 
  "hovermode": "closest", 
  "showlegend": True, 
  "title": "Mathematics vs Science", 
  "xaxis": {
    "autorange": True, 
    "range": [0, 32], 
    "title": "Country Code", 
    "type": "category"
  }, 
  "yaxis": {
    "autorange": True, 
    "range": [29.0377495698, 56.9853152091], 
    "title": "Marks", 
    "type": "linear"
  }
}
fig = Figure(data=data, layout=layout)
plot_url = py.plot(fig)

In [ ]:
import plotly.plotly as py
from plotly.graph_objs import *
py.sign_in('revannth', '0U9AEQ9wp9ZpwfBzbAEp')
trace1 = {
  "x": ["Andaman & Nicobar Island", "Andhra Pradesh", "Arunanchal Pradesh", "Bihar", "Chandigarh", "Chhattisgarh", "Dadara & Nagar Havelli", "Daman & Diu", "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jammu & Kashmir", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "NCT of Delhi", "Puducherry", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh", "Uttarakhand", "West Bengal", "Odisha"], 
  "y": ["39", "39.6", "38.3", "39.8", "40.1", "41.5", "44", "49.2", "45.7", "39.2", "40.8", "37.8", "39.2", "41.6", "38.2", "45.5", "45.3", "42.4", "42.3", "35.5", "41.8", "38.4", "40.1", "36", "41.5", "43.4", "39.9", "36.8", "39.6", "45.2", "46.7", "38.8", "53.1", "38.8"], 
  "mode": "markers", 
  "name": "Per Region Female Performance", 
  "type": "scatter", 
  "uid": "1af5b2", 
  "xsrc": "revannth:23:821d5a", 
  "ysrc": "revannth:23:d48366"
}
trace2 = {
  "x": ["Andaman & Nicobar Island", "Andhra Pradesh", "Arunanchal Pradesh", "Bihar", "Chandigarh", "Chhattisgarh", "Dadara & Nagar Havelli", "Daman & Diu", "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jammu & Kashmir", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "NCT of Delhi", "Puducherry", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh", "Uttarakhand", "West Bengal", "Odisha"], 
  "y": ["37.4", "36.8", "38.6", "41.9", "39.3", "41.3", "44.3", "47.9", "41.5", "38.8", "41.3", "37.2", "37.4", "43.7", "37.9", "41", "46.8", "43.1", "43.3", "34.4", "38.6", "37.8", "38.4", "34.4", "40.6", "41.4", "41.2", "36.9", "36.8", "45.5", "49.2", "38.5", "43.1", "39.7"], 
  "mode": "markers", 
  "name": "Per Region Male Performance", 
  "type": "scatter", 
  "uid": "924679", 
  "xsrc": "revannth:23:821d5a", 
  "ysrc": "revannth:28:d470ba"
}
data = Data([trace1, trace2])
layout = {
  "autosize": True, 
  "hovermode": "closest", 
  "showlegend": True, 
  "title": "Male vs Female Performance Plot", 
  "xaxis": {
    "autorange": True, 
    "range": [-2.25, 35.25], 
    "title": "STATES", 
    "type": "category"
  }, 
  "yaxis": {
    "autorange": True, 
    "range": [32.9360338243, 54.5639661757], 
    "title": "Marks", 
    "type": "linear"
  }
}
fig = Figure(data=data, layout=layout)
plot_url = py.plot(fig)

In [81]:
influence.drop(['STUID','District','State'],inplace=True,axis=1)

In [83]:
influence2 = pd.melt(influence,id_vars=['Maths %','Reading %','Science %','Social %'])

In [158]:
test = influence2.dropna(thresh=4)

In [163]:
test.loc[~(test==0).all(axis=1)]

          Maths %  Reading %  Science %  Social %           variable value
0           20.37        NaN      27.78       NaN             Gender     1
1           12.96        NaN      38.18       NaN             Gender     2
2           27.78      70.00        NaN       NaN             Gender     2
3             NaN      56.67        NaN     36.00             Gender     2
4             NaN        NaN      14.55      8.33             Gender     2
5             NaN      23.33        NaN     30.00             Gender     2
6           40.74      70.00        NaN       NaN             Gender     2
7             NaN      26.67        NaN     22.92             Gender     2
8           24.07        NaN      25.45       NaN             Gender     2
9           18.52      26.67        NaN       NaN             Gender     2
10          37.04      16.67        NaN       NaN             Gender     2
11          20.37        NaN      20.00       NaN             Gender     2
12            NaN        NaN      29.63     35.42             Gender     2
13          27.78      66.67        NaN       NaN             Gender     2
15            NaN        NaN      42.59     32.00             Gender     2
18            NaN      20.00        NaN     16.00             Gender     2
19            NaN        NaN      18.52     16.67             Gender     2
20          29.63        NaN      18.18       NaN             Gender     2
22          38.89      60.00        NaN       NaN             Gender     1
23          27.78        NaN      33.33       NaN             Gender     1
24            NaN      43.33        NaN     42.00             Gender     1
25            NaN        NaN      43.64     39.58             Gender     1
26          29.63      73.33        NaN       NaN             Gender     1
28          24.07        NaN      40.74       NaN             Gender     1
29            NaN      13.33        NaN     14.58             Gender     1
31          22.22        NaN       0.00       NaN             Gender     1
32            NaN      43.33        NaN     33.33             Gender     1
34            NaN        NaN      29.63     28.00             Gender     1
39            NaN      10.00        NaN     22.92             Gender     2
40            NaN        NaN      27.27     30.00             Gender     2
...           ...        ...        ...       ...                ...   ...
10564805    35.00      60.00      39.29     34.69  Help in household     4
10564807    30.51      44.83      32.73     17.02  Help in household     4
10564808    27.12      27.59      32.73     29.79  Help in household     4
10564809      NaN        NaN      50.00     30.61  Help in household     4
10564810    33.90      93.10      52.73     23.40  Help in household     4
10564811    23.73      48.28      36.36     36.17  Help in household     4
10564812    36.67      66.67      37.50     34.69  Help in household     4
10564813    25.42      82.76      49.09     29.79  Help in household     4
10564814    26.67      63.33      32.14     26.53  Help in household     4
10564815    27.12      34.48      38.18     29.79  Help in household     4
10564816    30.00      53.33      33.93     24.49  Help in household     4
10564817    28.81      79.31      34.55     25.53  Help in household     4
10564818    20.00      36.67      35.71     24.49  Help in household     4
10564819    38.98      79.31      45.45     34.04  Help in household     3
10564820    28.81      82.76      60.00     42.55  Help in household     3
10564821      NaN        NaN      29.09     21.28  Help in household     4
10564822    40.00      63.33      35.71     42.86  Help in household     4
10564823    25.42      51.72      40.00     23.40  Help in household     4
10564824    23.33      46.67      33.93     30.61  Help in household     4
10564825    27.12      24.14      32.73     44.68  Help in household     4
10564826    33.90      66.67      41.07     38.78  Help in household     4
10564827      NaN      72.41      36.36     42.55  Help in household     4
10564828    36.67      66.67      41.07     42.86  Help in household     4
10564829    42.37      72.41      45.45     36.17  Help in household     4
10564830    45.00      66.67      32.14     24.49  Help in household     4
10564831    22.03      65.52      38.18     19.15  Help in household     4
10564832    31.67      40.00      41.07     24.49  Help in household     4
10564833    40.68      41.38      38.18     27.66  Help in household     4
10564834    18.33      70.00      33.93     32.65  Help in household     4
10564835    23.73      55.17      41.82     31.91  Help in household     4

[9532247 rows x 6 columns]

In [169]:
test.interpolate(inplace=True)
test

/Users/vedalasrinivas/Documents/Gramener_interview/venv/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

            Maths %  Reading %  Science %   Social %           variable value
0         20.370000        NaN  27.780000        NaN             Gender     1
1         12.960000        NaN  38.180000        NaN             Gender     2
2         27.780000  70.000000  30.303333        NaN             Gender     2
3         31.020000  56.670000  22.426667  36.000000             Gender     2
4         34.260000  40.000000  14.550000   8.330000             Gender     2
5         37.500000  23.330000  17.275000  30.000000             Gender     2
6         40.740000  70.000000  20.000000  26.460000             Gender     2
7         32.405000  26.670000  22.725000  22.920000             Gender     2
8         24.070000  26.670000  25.450000  25.420000             Gender     2
9         18.520000  26.670000  23.633333  27.920000             Gender     2
10        37.040000  16.670000  21.816667  30.420000             Gender     2
11        20.370000  33.336667  20.000000  32.920000             Gender     2
12        24.075000  50.003333  29.630000  35.420000             Gender     2
13        27.780000  66.670000  36.110000  33.710000             Gender     2
15        28.242500  43.335000  42.590000  32.000000             Gender     2
18        28.705000  20.000000  30.555000  16.000000             Gender     2
19        29.167500  33.333333  18.520000  16.670000             Gender     2
20        29.630000  46.666667  18.180000  23.002500             Gender     2
22        38.890000  60.000000  25.755000  29.335000             Gender     1
23        27.780000  51.665000  33.330000  35.667500             Gender     1
24        28.396667  43.330000  38.485000  42.000000             Gender     1
25        29.013333  58.330000  43.640000  39.580000             Gender     1
26        29.630000  73.330000  42.190000  31.246667             Gender     1
28        24.070000  43.330000  40.740000  22.913333             Gender     1
29        23.145000  13.330000  20.370000  14.580000             Gender     1
31        22.220000  28.330000   0.000000  23.955000             Gender     1
32        21.110000  43.330000  14.815000  33.330000             Gender     1
34        20.000000  26.665000  29.630000  28.000000             Gender     1
39        18.890000  10.000000  28.450000  22.920000             Gender     2
40        17.780000  14.443333  27.270000  30.000000             Gender     2
...             ...        ...        ...        ...                ...   ...
10564805  35.000000  60.000000  39.290000  34.690000  Help in household     4
10564807  30.510000  44.830000  32.730000  17.020000  Help in household     4
10564808  27.120000  27.590000  32.730000  29.790000  Help in household     4
10564809  30.510000  60.345000  50.000000  30.610000  Help in household     4
10564810  33.900000  93.100000  52.730000  23.400000  Help in household     4
10564811  23.730000  48.280000  36.360000  36.170000  Help in household     4
10564812  36.670000  66.670000  37.500000  34.690000  Help in household     4
10564813  25.420000  82.760000  49.090000  29.790000  Help in household     4
10564814  26.670000  63.330000  32.140000  26.530000  Help in household     4
10564815  27.120000  34.480000  38.180000  29.790000  Help in household     4
10564816  30.000000  53.330000  33.930000  24.490000  Help in household     4
10564817  28.810000  79.310000  34.550000  25.530000  Help in household     4
10564818  20.000000  36.670000  35.710000  24.490000  Help in household     4
10564819  38.980000  79.310000  45.450000  34.040000  Help in household     3
10564820  28.810000  82.760000  60.000000  42.550000  Help in household     3
10564821  34.405000  73.045000  29.090000  21.280000  Help in household     4
10564822  40.000000  63.330000  35.710000  42.860000  Help in household     4
10564823  25.420000  51.720000  40.000000  23.400000  Help in household     4
10564824  23.330000  46.670000  33.930000  30.610000  Help in household     4
10564825  27.120000  24.140000  32.730000  44.680000  Help in household     4
10564826  33.900000  66.670000  41.070000  38.780000  Help in household     4
10564827  35.285000  72.410000  36.360000  42.550000  Help in household     4
10564828  36.670000  66.670000  41.070000  42.860000  Help in household     4
10564829  42.370000  72.410000  45.450000  36.170000  Help in household     4
10564830  45.000000  66.670000  32.140000  24.490000  Help in household     4
10564831  22.030000  65.520000  38.180000  19.150000  Help in household     4
10564832  31.670000  40.000000  41.070000  24.490000  Help in household     4
10564833  40.680000  41.380000  38.180000  27.660000  Help in household     4
10564834  18.330000  70.000000  33.930000  32.650000  Help in household     4
10564835  23.730000  55.170000  41.820000  31.910000  Help in household     4

[9532247 rows x 6 columns]

In [188]:
test

            Maths %  Reading %  Science %   Social %           variable value
0         20.370000        NaN  27.780000        NaN             Gender     1
1         12.960000        NaN  38.180000        NaN             Gender     2
2         27.780000  70.000000  30.303333        NaN             Gender     2
3         31.020000  56.670000  22.426667  36.000000             Gender     2
4         34.260000  40.000000  14.550000   8.330000             Gender     2
5         37.500000  23.330000  17.275000  30.000000             Gender     2
6         40.740000  70.000000  20.000000  26.460000             Gender     2
7         32.405000  26.670000  22.725000  22.920000             Gender     2
8         24.070000  26.670000  25.450000  25.420000             Gender     2
9         18.520000  26.670000  23.633333  27.920000             Gender     2
10        37.040000  16.670000  21.816667  30.420000             Gender     2
11        20.370000  33.336667  20.000000  32.920000             Gender     2
12        24.075000  50.003333  29.630000  35.420000             Gender     2
13        27.780000  66.670000  36.110000  33.710000             Gender     2
15        28.242500  43.335000  42.590000  32.000000             Gender     2
18        28.705000  20.000000  30.555000  16.000000             Gender     2
19        29.167500  33.333333  18.520000  16.670000             Gender     2
20        29.630000  46.666667  18.180000  23.002500             Gender     2
22        38.890000  60.000000  25.755000  29.335000             Gender     1
23        27.780000  51.665000  33.330000  35.667500             Gender     1
24        28.396667  43.330000  38.485000  42.000000             Gender     1
25        29.013333  58.330000  43.640000  39.580000             Gender     1
26        29.630000  73.330000  42.190000  31.246667             Gender     1
28        24.070000  43.330000  40.740000  22.913333             Gender     1
29        23.145000  13.330000  20.370000  14.580000             Gender     1
31        22.220000  28.330000   0.000000  23.955000             Gender     1
32        21.110000  43.330000  14.815000  33.330000             Gender     1
34        20.000000  26.665000  29.630000  28.000000             Gender     1
39        18.890000  10.000000  28.450000  22.920000             Gender     2
40        17.780000  14.443333  27.270000  30.000000             Gender     2
...             ...        ...        ...        ...                ...   ...
10564805  35.000000  60.000000  39.290000  34.690000  Help in household     4
10564807  30.510000  44.830000  32.730000  17.020000  Help in household     4
10564808  27.120000  27.590000  32.730000  29.790000  Help in household     4
10564809  30.510000  60.345000  50.000000  30.610000  Help in household     4
10564810  33.900000  93.100000  52.730000  23.400000  Help in household     4
10564811  23.730000  48.280000  36.360000  36.170000  Help in household     4
10564812  36.670000  66.670000  37.500000  34.690000  Help in household     4
10564813  25.420000  82.760000  49.090000  29.790000  Help in household     4
10564814  26.670000  63.330000  32.140000  26.530000  Help in household     4
10564815  27.120000  34.480000  38.180000  29.790000  Help in household     4
10564816  30.000000  53.330000  33.930000  24.490000  Help in household     4
10564817  28.810000  79.310000  34.550000  25.530000  Help in household     4
10564818  20.000000  36.670000  35.710000  24.490000  Help in household     4
10564819  38.980000  79.310000  45.450000  34.040000  Help in household     3
10564820  28.810000  82.760000  60.000000  42.550000  Help in household     3
10564821  34.405000  73.045000  29.090000  21.280000  Help in household     4
10564822  40.000000  63.330000  35.710000  42.860000  Help in household     4
10564823  25.420000  51.720000  40.000000  23.400000  Help in household     4
10564824  23.330000  46.670000  33.930000  30.610000  Help in household     4
10564825  27.120000  24.140000  32.730000  44.680000  Help in household     4
10564826  33.900000  66.670000  41.070000  38.780000  Help in household     4
10564827  35.285000  72.410000  36.360000  42.550000  Help in household     4
10564828  36.670000  66.670000  41.070000  42.860000  Help in household     4
10564829  42.370000  72.410000  45.450000  36.170000  Help in household     4
10564830  45.000000  66.670000  32.140000  24.490000  Help in household     4
10564831  22.030000  65.520000  38.180000  19.150000  Help in household     4
10564832  31.670000  40.000000  41.070000  24.490000  Help in household     4
10564833  40.680000  41.380000  38.180000  27.660000  Help in household     4
10564834  18.330000  70.000000  33.930000  32.650000  Help in household     4
10564835  23.730000  55.170000  41.820000  31.910000  Help in household     4

[9532247 rows x 6 columns]

In [189]:
cleared_factor = test.dropna(how='any')

In [192]:
cleared_factor.value.astype('float')

ValueError: could not convert string to float: S