In [12]:
#main.py

import pandas as pd

tab = pd.read_csv('data/nas-pupil-marks.csv')

tab.head()

,STUID,State,District,Gender,Age,Category,Same language,Siblings,Handicap,Father edu,...,Express science views,Watch TV,Read magazine,Read a book,Play games,Help in household,Maths %,Reading %,Science %,Social %
0,11011001001,AP,1,1,3,3,1,5,2,1,...,3,3,4,3,4,4,20.37,NaN,27.78,NaN
1,11011001002,AP,1,2,3,4,2,5,2,2,...,3,4,4,3,4,4,12.96,NaN,38.18,NaN
2,11011001003,AP,1,2,3,4,2,5,2,1,...,3,4,3,3,4,4,27.78,70.00,NaN,NaN
3,11011001004,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,NaN,56.67,NaN,36.00
4,11011001005,AP,1,2,3,3,2,5,2,1,...,3,2,3,3,4,4,NaN,NaN,14.55,8.33

In [13]:
col = list(tab.head(0).columns)
print col

tab.drop(col[4:-4],axis=1,inplace=True)

['STUID', 'State', 'District', 'Gender', 'Age', 'Category', 'Same language', 'Siblings', 'Handicap', 'Father edu', 'Mother edu', 'Father occupation', 'Mother occupation', 'Below poverty', 'Use calculator', 'Use computer', 'Use Internet', 'Use dictionary', 'Read other books', '# Books', 'Distance', 'Computer use', 'Library use', 'Like school', 'Subjects', 'Give Lang HW', 'Give Math HW', 'Give Scie HW', 'Give SoSc HW', 'Correct Lang HW', 'Correct Math HW', 'Correct Scie HW', 'Correct SocS HW', 'Help in Study', 'Private tuition', 'English is difficult', 'Read English', 'Dictionary to learn', 'Answer English WB', 'Answer English aloud', 'Maths is difficult', 'Solve Maths', 'Solve Maths in groups', 'Draw geometry', 'Explain answers', 'SocSci is difficult', 'Historical excursions', 'Participate in SocSci', 'Small groups in SocSci', 'Express SocSci views', 'Science is difficult', 'Observe experiments', 'Conduct experiments', 'Solve science problems', 'Express science views', 'Watch TV', 'Read magazine', 'Read a book', 'Play games', 'Help in household', 'Maths %', 'Reading %', 'Science %', 'Social %']

In [14]:

tab.drop(["STUID","District"],axis=1,inplace=True)

In [15]:
display(tab)

       State  Gender  Maths %  Reading %  Science %  Social %
0         AP       1    20.37        NaN      27.78       NaN
1         AP       2    12.96        NaN      38.18       NaN
2         AP       2    27.78      70.00        NaN       NaN
3         AP       2      NaN      56.67        NaN     36.00
4         AP       2      NaN        NaN      14.55      8.33
5         AP       2      NaN      23.33        NaN     30.00
6         AP       2    40.74      70.00        NaN       NaN
7         AP       2      NaN      26.67        NaN     22.92
8         AP       2    24.07        NaN      25.45       NaN
9         AP       2    18.52      26.67        NaN       NaN
10        AP       2    37.04      16.67        NaN       NaN
11        AP       2    20.37        NaN      20.00       NaN
12        AP       2      NaN        NaN      29.63     35.42
13        AP       2    27.78      66.67        NaN       NaN
14        AP       2    18.52        NaN        NaN       NaN
15        AP       2      NaN        NaN      42.59     32.00
16        AP       2    16.67        NaN        NaN       NaN
17        AP       2      NaN        NaN      21.82       NaN
18        AP       2      NaN      20.00        NaN     16.00
19        AP       2      NaN        NaN      18.52     16.67
20        AP       2    29.63        NaN      18.18       NaN
21        AP       2      NaN      43.33        NaN       NaN
22        AP       1    38.89      60.00        NaN       NaN
23        AP       1    27.78        NaN      33.33       NaN
24        AP       1      NaN      43.33        NaN     42.00
25        AP       1      NaN        NaN      43.64     39.58
26        AP       1    29.63      73.33        NaN       NaN
27        AP       2    29.63        NaN        NaN       NaN
28        AP       1    24.07        NaN      40.74       NaN
29        AP       1      NaN      13.33        NaN     14.58
...      ...     ...      ...        ...        ...       ...
185318    DD       2      NaN        NaN        NaN       NaN
185319    DD       2    30.51      44.83      32.73     17.02
185320    DD       2    27.12      27.59      32.73     29.79
185321    DD       2      NaN        NaN      50.00     30.61
185322    DD       2    33.90      93.10      52.73     23.40
185323    DD       2    23.73      48.28      36.36     36.17
185324    DD       2    36.67      66.67      37.50     34.69
185325    DD       2    25.42      82.76      49.09     29.79
185326    DD       2    26.67      63.33      32.14     26.53
185327    DD       2    27.12      34.48      38.18     29.79
185328    DD       2    30.00      53.33      33.93     24.49
185329    DD       2    28.81      79.31      34.55     25.53
185330    DD       1    20.00      36.67      35.71     24.49
185331    DD       1    38.98      79.31      45.45     34.04
185332    DD       1    28.81      82.76      60.00     42.55
185333    DD       1      NaN        NaN      29.09     21.28
185334    DD       2    40.00      63.33      35.71     42.86
185335    DD       2    25.42      51.72      40.00     23.40
185336    DD       2    23.33      46.67      33.93     30.61
185337    DD       2    27.12      24.14      32.73     44.68
185338    DD       2    33.90      66.67      41.07     38.78
185339    DD       2      NaN      72.41      36.36     42.55
185340    DD       2    36.67      66.67      41.07     42.86
185341    DD       2    42.37      72.41      45.45     36.17
185342    DD       2    45.00      66.67      32.14     24.49
185343    DD       2    22.03      65.52      38.18     19.15
185344    DD       2    31.67      40.00      41.07     24.49
185345    DD       2    40.68      41.38      38.18     27.66
185346    DD       2    18.33      70.00      33.93     32.65
185347    DD       2    23.73      55.17      41.82     31.91

[185348 rows x 6 columns]

In [16]:

sorted_tabs = tab.sort_values(['Gender','Maths %','Reading %','Science %','Social %'],ascending=False)
display(sorted_tabs)

       State  Gender  Maths %  Reading %  Science %  Social %
103790    MN       2   100.00      90.00        NaN       NaN
104065    MN       2   100.00      20.00        NaN       NaN
155259    UP       2    98.33      53.33        NaN       NaN
104411    MN       2    98.31      20.00        NaN       NaN
109474    MZ       2    96.67      86.67        NaN       NaN
155378    UP       2    96.67      83.33        NaN       NaN
104068    MN       2    96.67      76.67        NaN       NaN
148777    TR       2    96.67      70.00        NaN       NaN
104448    MN       2    96.67      56.67        NaN       NaN
63519     JK       2    96.67      54.17        NaN       NaN
109494    MZ       2    96.67      50.00        NaN       NaN
155255    UP       2    96.67      50.00        NaN       NaN
155263    UP       2    96.67      46.67        NaN       NaN
155393    UP       2    96.67      33.33        NaN       NaN
65024     JK       2    96.67      23.33        NaN       NaN
155397    UP       2    96.67      23.33        NaN       NaN
149039    TR       2    96.67        NaN      85.45       NaN
65023     JK       2    96.67        NaN        NaN       NaN
148790    TR       2    96.61      83.33        NaN       NaN
151452    UP       2    96.61      83.33        NaN       NaN
164897    WB       2    96.61      73.33        NaN       NaN
103795    MN       2    96.61      70.00        NaN       NaN
151456    UP       2    96.61      40.00        NaN       NaN
155384    UP       2    96.61      26.67        NaN       NaN
65011     JK       2    96.61      23.33        NaN       NaN
154646    UP       2    96.61      23.33        NaN       NaN
147276    TR       2    96.61        NaN        NaN     68.75
120954    PB       2    96.49        NaN      92.86       NaN
120957    PB       2    96.49        NaN      76.79       NaN
72080     KA       2    96.36      63.33        NaN       NaN
...      ...     ...      ...        ...        ...       ...
68665     JH       0      NaN        NaN        NaN       NaN
69644     JH       0      NaN        NaN        NaN       NaN
69670     JH       0      NaN        NaN        NaN       NaN
70957     JH       0      NaN        NaN        NaN       NaN
94908     MH       0      NaN        NaN        NaN       NaN
98421     MH       0      NaN        NaN        NaN       NaN
103171    MN       0      NaN        NaN        NaN       NaN
140996    TN       0      NaN        NaN        NaN       NaN
154100    UP       0      NaN        NaN        NaN       NaN
154104    UP       0      NaN        NaN        NaN       NaN
183135    DN       0      NaN        NaN        NaN       NaN
183136    DN       0      NaN        NaN        NaN       NaN
183142    DN       0      NaN        NaN        NaN       NaN
183143    DN       0      NaN        NaN        NaN       NaN
183144    DN       0      NaN        NaN        NaN       NaN
183145    DN       0      NaN        NaN        NaN       NaN
183146    DN       0      NaN        NaN        NaN       NaN
183147    DN       0      NaN        NaN        NaN       NaN
183148    DN       0      NaN        NaN        NaN       NaN
183149    DN       0      NaN        NaN        NaN       NaN
183150    DN       0      NaN        NaN        NaN       NaN
183151    DN       0      NaN        NaN        NaN       NaN
183152    DN       0      NaN        NaN        NaN       NaN
183153    DN       0      NaN        NaN        NaN       NaN
183154    DN       0      NaN        NaN        NaN       NaN
183157    DN       0      NaN        NaN        NaN       NaN
183158    DN       0      NaN        NaN        NaN       NaN
183161    DN       0      NaN        NaN        NaN       NaN
183170    DN       0      NaN        NaN        NaN       NaN
183181    DN       0      NaN        NaN        NaN       NaN

[185348 rows x 6 columns]

In [17]:
sorted_tabs.shape

(185348, 6)

In [18]:
booleans = []
for gender in sorted_tabs.Gender:
    if gender>0:
        booleans.append(True)
    else:
        booleans.append(False)

In [19]:
boolean_simple = sorted_tabs.Gender>0

In [20]:
boolean_simple.head()

103790    True
104065    True
155259    True
104411    True
109474    True
Name: Gender, dtype: bool

In [21]:
sorted_tabs[boolean_simple]

       State  Gender  Maths %  Reading %  Science %  Social %
103790    MN       2   100.00      90.00        NaN       NaN
104065    MN       2   100.00      20.00        NaN       NaN
155259    UP       2    98.33      53.33        NaN       NaN
104411    MN       2    98.31      20.00        NaN       NaN
109474    MZ       2    96.67      86.67        NaN       NaN
155378    UP       2    96.67      83.33        NaN       NaN
104068    MN       2    96.67      76.67        NaN       NaN
148777    TR       2    96.67      70.00        NaN       NaN
104448    MN       2    96.67      56.67        NaN       NaN
63519     JK       2    96.67      54.17        NaN       NaN
109494    MZ       2    96.67      50.00        NaN       NaN
155255    UP       2    96.67      50.00        NaN       NaN
155263    UP       2    96.67      46.67        NaN       NaN
155393    UP       2    96.67      33.33        NaN       NaN
65024     JK       2    96.67      23.33        NaN       NaN
155397    UP       2    96.67      23.33        NaN       NaN
149039    TR       2    96.67        NaN      85.45       NaN
65023     JK       2    96.67        NaN        NaN       NaN
148790    TR       2    96.61      83.33        NaN       NaN
151452    UP       2    96.61      83.33        NaN       NaN
164897    WB       2    96.61      73.33        NaN       NaN
103795    MN       2    96.61      70.00        NaN       NaN
151456    UP       2    96.61      40.00        NaN       NaN
155384    UP       2    96.61      26.67        NaN       NaN
65011     JK       2    96.61      23.33        NaN       NaN
154646    UP       2    96.61      23.33        NaN       NaN
147276    TR       2    96.61        NaN        NaN     68.75
120954    PB       2    96.49        NaN      92.86       NaN
120957    PB       2    96.49        NaN      76.79       NaN
72080     KA       2    96.36      63.33        NaN       NaN
...      ...     ...      ...        ...        ...       ...
183127    DN       1      NaN        NaN        NaN       NaN
183128    DN       1      NaN        NaN        NaN       NaN
183129    DN       1      NaN        NaN        NaN       NaN
183130    DN       1      NaN        NaN        NaN       NaN
183131    DN       1      NaN        NaN        NaN       NaN
183132    DN       1      NaN        NaN        NaN       NaN
183133    DN       1      NaN        NaN        NaN       NaN
183134    DN       1      NaN        NaN        NaN       NaN
183137    DN       1      NaN        NaN        NaN       NaN
183138    DN       1      NaN        NaN        NaN       NaN
183139    DN       1      NaN        NaN        NaN       NaN
183140    DN       1      NaN        NaN        NaN       NaN
183141    DN       1      NaN        NaN        NaN       NaN
183171    DN       1      NaN        NaN        NaN       NaN
183456    DN       1      NaN        NaN        NaN       NaN
183603    DN       1      NaN        NaN        NaN       NaN
183616    DN       1      NaN        NaN        NaN       NaN
183619    DN       1      NaN        NaN        NaN       NaN
183621    DN       1      NaN        NaN        NaN       NaN
183764    DN       1      NaN        NaN        NaN       NaN
183996    DN       1      NaN        NaN        NaN       NaN
184004    DN       1      NaN        NaN        NaN       NaN
184137    DN       1      NaN        NaN        NaN       NaN
184138    DN       1      NaN        NaN        NaN       NaN
184177    DN       1      NaN        NaN        NaN       NaN
184657    DN       1      NaN        NaN        NaN       NaN
184717    DN       1      NaN        NaN        NaN       NaN
185126    DD       1      NaN        NaN        NaN       NaN
185158    DD       1      NaN        NaN        NaN       NaN
185195    DD       1      NaN        NaN        NaN       NaN

[185113 rows x 6 columns]

In [22]:
gender_filter = sorted_tabs[sorted_tabs.Gender>0]

In [23]:
test = gender_filter.dropna(thresh=4)
cleaned_data=test.sort_values(['Gender','State','Maths %','Reading %','Science %','Social %'])

cleaned_data.interpolate(inplace=True)

In [24]:
cleaned_data.sort_values(['Gender','State','Maths %','Reading %','Science %','Social %'],inplace=True)

In [25]:
cleaned_data
cleaned_data['Total']=0

In [26]:
cleaned_data.Total = (cleaned_data["Maths %"] + cleaned_data["Reading %"] + cleaned_data["Science %"] + cleaned_data["Social %"])/4
cleaned_data

       State  Gender    Maths %  Reading %  Science %  Social %      Total
170622    AN       1   0.000000      0.000     27.270     62.00  22.317500
171771    AN       1   1.670000      3.335     44.640     30.00  19.911250
170610    AN       1   3.330000      6.670     47.270     40.00  24.317500
169987    AN       1   3.390000     36.670     30.910     18.00  22.242500
170612    AN       1   5.000000     10.000     52.730     26.00  23.432500
170611    AN       1   5.080000      3.330     17.860     60.00  21.567500
170613    AN       1   5.080000     13.330     57.140     22.00  24.387500
169847    AN       1   6.670000     13.330     33.930     34.00  21.982500
169652    AN       1   6.780000      6.670     10.710     10.00   8.540000
169805    AN       1   8.330000     16.670     23.210     24.00  18.052500
171626    AN       1   8.330000     20.000     17.860     10.00  14.047500
170208    AN       1   8.470000      6.670      7.140     28.00  12.570000
171117    AN       1   8.470000     26.670     19.640     16.00  17.695000
170596    AN       1  10.000000     30.000     27.095     24.00  22.773750
170212    AN       1  10.170000     23.330     34.550     32.00  25.012500
170441    AN       1  10.170000     63.330     29.090     36.00  34.647500
170937    AN       1  11.670000     23.330     26.790     18.00  19.947500
170683    AN       1  11.670000     26.670     30.360     22.00  22.675000
171466    AN       1  11.860000      6.670     18.180     26.00  15.677500
171818    AN       1  11.860000     10.000      7.270      4.00   8.282500
169709    AN       1  11.860000     20.000     49.090     28.00  27.237500
171048    AN       1  11.860000     23.330     30.360     22.00  21.887500
171120    AN       1  11.860000     50.000     23.210     42.00  31.767500
170911    AN       1  12.348571     63.330     25.000     14.00  28.669643
171777    AN       1  13.330000      0.000     33.930     36.00  20.815000
170112    AN       1  13.330000     16.670     21.820     42.00  23.455000
170804    AN       1  13.330000     23.330     14.290      6.00  14.237500
170980    AN       1  13.330000     23.330     23.640     18.00  19.575000
170144    AN       1  13.330000     26.670     19.640     20.00  19.910000
170190    AN       1  13.330000     26.670     32.730     34.00  26.682500
...      ...     ...        ...        ...        ...       ...        ...
164216    WB       2  96.610000     93.330     75.000     54.00  79.735000
167288    WB       2  96.610000     93.330     75.000     58.00  80.735000
168691    WB       2  96.610000     93.330     75.000     60.00  81.235000
168969    WB       2  96.610000     93.330     75.000     66.00  82.735000
164870    WB       2  96.610000     93.330     75.000     76.00  85.235000
167183    WB       2  96.610000     93.330     75.000     78.00  85.735000
168989    WB       2  96.610000     93.330     75.000     80.00  86.235000
168752    WB       2  96.610000     93.330     75.000     82.00  86.735000
168993    WB       2  96.610000     93.330     75.000     86.00  87.735000
164923    WB       2  96.610000     93.330     76.360     64.58  82.720000
162961    WB       2  96.610000     93.330     76.360     66.00  83.075000
165715    WB       2  96.610000     93.330     78.180     64.58  83.175000
166776    WB       2  96.610000     93.330     78.180     66.67  83.697500
168773    WB       2  96.610000     93.330     78.180     68.75  84.217500
168998    WB       2  96.610000     93.330     78.180     85.42  88.385000
165713    WB       2  96.610000     93.330     80.000     64.58  83.630000
164867    WB       2  96.610000     93.330     81.820     58.33  82.522500
168924    WB       2  96.610000     93.330     81.820     58.33  82.522500
167184    WB       2  96.610000     93.330     81.820     62.50  83.565000
167170    WB       2  96.610000     93.330     81.820     70.83  85.647500
165379    WB       2  96.610000     93.330     81.820     75.00  86.690000
164874    WB       2  96.610000     93.330     85.450     72.92  87.077500
168972    WB       2  96.610000     93.330     85.450     77.08  88.117500
165366    WB       2  96.610000     93.330     85.710     82.00  89.412500
164878    WB       2  96.610000     93.330     87.270     66.67  85.970000
165396    WB       2  96.610000     93.330     89.290     48.00  81.807500
165393    WB       2  96.610000     93.330     90.910     45.83  81.670000
166832    WB       2  96.610000     93.330     90.910     72.92  88.442500
165383    WB       2  96.610000     93.330     90.910     75.00  88.962500
164871    WB       2  96.610000     93.330     90.910     77.08  89.482500

[167360 rows x 7 columns]

In [27]:
boolean_male = []
boolean_female = []
boolean_male = cleaned_data.Gender<2
boolean_female = cleaned_data.Gender==2

In [28]:
male_data = cleaned_data[boolean_male]
female_data=cleaned_data[boolean_female]

In [38]:
State_data = male_data.groupby(male_data.State).Total.mean()

In [45]:
State_data.round(1,inplace=True)
State_data.to_csv('States.csv')